.container {
    position: relative;
    background: radial-gradient(circle, rgba(18,31,66,1) 100%, rgba(28,25,45,1) 45%, rgba(0,0,0,1) 0%);;
    display: inline-block;
}

.audioPlayer {
    position: absolute;
    height: 30px;
    bottom: 0;
}